@model List<SelectListItem>

<div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading" style="background-color: #5bc0de;">
            <a data-toggle="collapse" href="#pnlBusDetails" style="color:white;text-decoration:none;">Bus Information</a>
        </div>
        <div id="pnlBusDetails" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table table-bordered table-hover" id="tblVehicleDetails">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-1">
                                        #
                                    </th>
                                    <th class="text-center col-md-3">
                                        Bus Type
                                    </th>
                                    @*<th class="text-center col-md-1">
                                        Sitting
                                    </th>
                                    <th class="text-center col-md-1">
                                        Standing
                                    </th>*@
                                    <th class="text-center col-md-1">
                                        Capacity
                                    </th>
                                    <th class="text-center col-md-5">
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id='trVehicleDetailsRow0'>
                                    <td class="text-center">
                                        <span><i class="fa fa-2x fa-bus"></i> </span>
                                        <input type="hidden" id="hdnVehicleID" value="" />
                                    </td>
                                    <td>
                                        @Html.DropDownList("Bus Type", Model, new { id = "ddlBusType", @class = "form-control", required = "true", placeholder="Bus Type" })
                                    </td>
                                    @*<td>
                                        <input id="txtReadSitting" type="text" name='Sitting' placeholder='Sitting' class="form-control" Numeric="true" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input id="txtReadStanding" type="text" name='Standing' placeholder='Standing' class="form-control" Numeric="true" disabled="disabled" />
                                    </td>*@
                                    <td>
                                        <input id="txtReadCapacity" type="text" name='Capacity' placeholder='Capacity' class="form-control" Numeric="true" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input id="txtReadDescription" type="text" name='Description' placeholder='Description' class="form-control" disabled="disabled" />
                                    </td>
                                </tr>
                                <tr id='trVehicleDetailsRow1'></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a id="btnAddVehicleRow" class="btn btn-info pull-left">Add Bus</a>
                <a id='btnDeleteVehicleRow' class="pull-right btn btn-danger">Delete Bus</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var vehicleRowNumber = 1;
        $("#btnAddVehicleRow").click(function () {
            var row = $("#trVehicleDetailsRow0").html();
            $('#trVehicleDetailsRow' + vehicleRowNumber).html(row);
            $('#tblVehicleDetails').append('<tr id="trVehicleDetailsRow' + (vehicleRowNumber + 1) + '"></tr>');
            vehicleRowNumber++;
        });
        $("#btnDeleteVehicleRow").click(function () {
            if (vehicleRowNumber > 1) {
                //$("#trVehicleDetailsRow" + (vehicleRowNumber - 1)).html('');
                $("#trVehicleDetailsRow" + (vehicleRowNumber)).remove();
                $("#trVehicleDetailsRow" + (vehicleRowNumber - 1)).html("");
                vehicleRowNumber--;
            }
        });

        LoadBusTypeDetails();
    });

    function LoadBusTypeDetails() {
        $(document).on("change", "select#ddlBusType", function () {
            var BusTypeID = $(this).val();
            var tblRow = $(this).parent().parent();
            $.ajax({
                async: false,
                url: '@Url.Action("GetBusTypeDetails", "BookingQuote")',
                type: 'Post',
                data: JSON.stringify({ BusTypeID: BusTypeID }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    if (result != undefined) {
                        tblRow.find("#txtReadCapacity").val(result.Capacity);
                        //tblRow.find("#txtReadStanding").val(result.Standing);
                        //tblRow.find("#txtReadSitting").val(result.Sitting);
                        tblRow.find("#txtReadDescription").val(result.Description);
                    }
                }
            }).done(function (result) {
                return false;
            });
        });
    }
</script>